.row-fluid

  .span3
    %h2 
      Create a new relay

    %form.well.form{:method => "POST"}
      
      %label
        IP:Port
        %input.span12{:name => 'address'}

      %label
        Password
        %input.span12{:name => 'password'}

      %button.btn.btn-primary{:type => 'submit'}
        Start relay

  .span9
    %h2
      Relay list
    %table.table.table-striped
      %thead
        %tr
          %th Relay IP:Port
          %th STV IP:Port
          %th Spectators
          %th Started at
          %th Actions
      - @relays.each do |relay|
        %tr
          
          %td= relay[:relay_ip_port]
          %td= relay[:stv_ip_port]
          %td= "#{relay[:spectators].to_i}/#{relay[:capacity].to_i}"
          %td= relay[:date_time]
          %td
            %a.btn.btn-danger{:href => "/kill/#{relay[:pid]}"}
              kill
            %a.btn.btn-info{:href => "/status/#{relay[:pid]}"}
              status

      - if @relays.none?
        %tr
          %td{:colspan => 5}
            No running relays
